services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./frontend/src/data:/app/frontend_data:ro
    environment:
      PYTHONUNBUFFERED: "1"
      MONGO_URL: ${MONGO_URL}
      MONGO_DB: ${MONGO_DB:-surveydb}
      MONGO_TLS: ${MONGO_TLS:-false}
      MONGO_TLS_CA_FILE: ${MONGO_TLS_CA_FILE:-/app/certs/global-bundle.pem}
      MONGO_TLS_ALLOW_INVALID_HOSTNAMES: ${MONGO_TLS_ALLOW_INVALID_HOSTNAMES:-false}
      MONGO_RETRY_WRITES: ${MONGO_RETRY_WRITES:-false}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      S3_BUCKET: ${S3_BUCKET:-app-capstone}
      S3_PREFIX: ${S3_PREFIX:-client-intake}
      FRONTEND_DATA_PATH: "/app/frontend_data/projectsCatalog.js"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
      - ./frontend/vite.config.js:/app/vite.config.js
    depends_on:
      - backend

